services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/web/.next
    environment:
      - NODE_ENV=development
      - SUPABASE_ANON_KEY
      - SUPABASE_DATABASE_URL
      - NEXT_PUBLIC_SUPABASE_URL
      - NEXT_PUBLIC_SUPABASE_ANON_KEY
    stdin_open: true
    tty: true

  admin:
    build:
      context: .
      dockerfile: apps/admin/Dockerfile
      target: development
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/admin/.next
    environment:
      - NODE_ENV=development
      - SUPABASE_ANON_KEY
      - SUPABASE_DATABASE_URL
      - NEXT_PUBLIC_SUPABASE_URL
      - NEXT_PUBLIC_SUPABASE_ANON_KEY
    stdin_open: true
    tty: true
